body::-webkit-scrollbar {
  width: 11px;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #00999d #eee;
}

body::-webkit-scrollbar-track {
  background: #eee;
}

body::-webkit-scrollbar-thumb {
  background-color: #00999d;
  border-radius: 5px;
  border: 3px solid #00999d;
}

* {
  outline: none;
}

.none {
  display: none;
}

.inl {
  display: inline-block;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

.night_mode {
  background-color: #232323 !important;
  color: #ebebeb !important;
  fill: #232323 !important;
}
.night_mode h1 {
  color: #ebebeb !important;
}
.night_mode a {
  color: #ebebeb !important;
}
.night_mode p {
  color: #ebebeb !important;
}

@media (max-width: 1080px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: sans-serif;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

/*****************************/
.quick_btn {
  position: fixed;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  width: auto;
  height: auto;
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #00999d;
  background: linear-gradient(to top, #00999d 0%, #00ff97 100%);
  box-shadow: 0px 8px 24px -5px #00e4e4;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  transition: 0.2s;
  cursor: pointer;
  z-index: 1000000;
}

.quick_btn:hover {
  transform: translate(-50%, -10%);
}

.bottom_menu.show {
  transform: translateY(0%);
}

.dark_bg.d_n {
  display: none;
}

.dark_bg {
  display: block;
  z-index: 999999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000056;
}

.bottom_menu {
  position: fixed;
  left: 0;
  bottom: 0%;
  height: 300px;
  width: 95vw;
  background-color: #fff;
  box-shadow: 0px -8px 44px -15px #00000079;
  color: #000;
  text-align: center;
  margin: 2.5vw;
  border-radius: 30px;
  z-index: 1000001;
  transform: translateY(120%);
  transition: 0.4s ease-in-out;
}
.bottom_menu h1 {
  margin: 15px 0;
}
.bottom_menu hr {
  background-color: #ddd;
  border: solid 0.7px #ddd;
  transition: 0.1s;
}
.bottom_menu .x_box {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  display: none;
}
.bottom_menu .x_box .fa-times-circle {
  color: #c0c0c0;
}
.bottom_menu .menu_slider {
  display: flex;
  padding: 10px 15px;
  font-weight: bold;
  overflow-x: auto;
}
.bottom_menu .menu_slider a {
  flex: 1 1 1px;
  padding: 10px 8px;
  color: #000;
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.3s;
}
.bottom_menu .menu_contact {
  display: flex;
  padding: 10px;
}
.bottom_menu .menu_contact .contact_buttons {
  flex: 1 1 30%;
  padding: 20px 10px;
  background-color: #eee;
  border-radius: 15px;
  margin: 5px;
  transition: 0.3s;
}
.bottom_menu .menu_contact .contact_buttons a {
  color: #0091ca;
  transition: 0.3s;
}
.bottom_menu .menu_contact .contact_buttons a i {
  margin-bottom: 10px;
}
.bottom_menu .night_mode_btn {
  padding: 5px 15px;
  border: none;
  background-color: #eee;
  border-radius: 15px;
  cursor: pointer;
}

.bottom_menu.night_mode {
  background-color: #353535;
}
.bottom_menu.night_mode hr {
  background-color: #555;
  border: solid 0.7px #555;
}
.bottom_menu.night_mode .fa-times-circle {
  color: #494949;
}
.bottom_menu.night_mode .night_mode_btn {
  padding: 5px 15px;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 15px;
}
.bottom_menu.night_mode .contact_buttons {
  background-color: #494949;
}
.bottom_menu.night_mode .contact_buttons a {
  color: #ebebeb !important;
}

header {
  width: 95vw;
  height: 90px;
  background-color: #f3f3f3;
  box-shadow: 0px -10px 50px #00000033;
  border-radius: 25px;
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999999;
}
header img {
  position: absolute;
  left: 200px;
  top: 10px;
  max-height: 70px;
  transition: 0.2s;
}
header nav {
  position: absolute;
  right: 200px;
  top: 35px;
  font-size: 18px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  transition: 0.2s;
}
header nav a p {
  display: inline-block;
  color: #494949;
  margin-right: 30px;
  transition: 0.3s;
  border-bottom: solid 0px #00000000;
}
header nav a p:hover {
  transform: scale(1.15);
  color: #0091ca;
  border-bottom: solid 2px #0091ca;
}
header .nm {
  width: 120px;
  height: 80px;
  position: absolute;
  right: 10px;
  top: 5px;
}
header .nm .night_mode_btn {
  width: 90px;
  height: 40px;
  background-color: #cacaca;
  border: none;
  border-radius: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  cursor: pointer;
}
header .nm .night_mode_btn:hover {
  background-color: #acacac;
}

@media (max-width: 1200px) {
  header img {
    left: 50px;
  }
  header nav {
    top: 35px;
  }
}
@media (max-width: 1080px) {
  header {
    width: 100%;
    height: 60px;
    background-color: #f3f3f3;
    box-shadow: 0px -10px 50px #00000033;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    left: 0;
    z-index: 99999;
  }
  header img {
    position: absolute;
    left: 20px;
    top: 10px;
    max-height: 40px;
    z-index: 999999;
  }
  header button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 30px;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    z-index: 999999;
  }
  header button .btn {
    width: 40px;
    height: 5px;
    background-color: #0091ca;
    border-radius: 2px;
    transition: 0.3s;
  }
  header button .btn::before {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background-color: #0091ca;
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
    transition: 0.3s;
  }
  header button .btn::after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background-color: #0091ca;
    border-radius: 2px;
    position: absolute;
    top: 5px;
    transition: 0.3s;
  }
  header button .is_active {
    width: 40px;
    height: 5px;
    background-color: #00000000;
    border-radius: 2px;
  }
  header button .is_active::before {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background-color: #0091ca;
    border-radius: 2px;
    position: absolute;
    bottom: 5px;
    transform: translateY(-10px) rotate(50deg);
  }
  header button .is_active::after {
    content: "";
    display: block;
    width: 40px;
    height: 5px;
    background-color: #0091ca;
    border-radius: 2px;
    position: absolute;
    top: 5px;
    transform: translateY(15px) rotate(-50deg);
  }
  header .mobile_menu {
    z-index: 9999;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 0;
    height: 0;
    border-radius: 200px;
    transition: 0.4s;
    display: none;
  }
  header .mobile_menu .nm {
    width: 100% !important;
    height: 100px !important;
    position: relative !important;
    bottom: 100px !important;
    left: 0 !important;
  }
  header .mobile_menu .nm .night_mode_btn {
    width: 100px;
    height: 40px;
    background-color: #cacaca;
    border: none;
    border-radius: 7px;
    position: absolute !important;
    left: 50% !important;
    bottom: 100px !important;
    transform: translateX(-50%) !important;
    transition: 0.3s;
  }
  header .mobile_menu .nm .night_mode_btn:hover {
    background-color: #cacaca;
  }
  header .opened_menu {
    z-index: 9999;
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    transition: 0.4s;
    display: block;
    background-color: #f7f7f7;
  }
  header .opened_menu .elementy {
    height: 70vh;
    width: 90%;
    padding-top: 100px;
    margin: auto;
    text-align: center;
  }
  header .opened_menu .elementy a {
    color: #395368;
  }
  header .opened_menu .elementy a p {
    font-size: 9vw;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .opened_menu .elementy a:hover {
    color: #00999d;
  }
}
/****************************/
main {
  width: 100%;
  height: auto;
}
main #start {
  width: 100%;
  height: 60vh;
  background-color: #00725f;
  background-image: url("../img/bryly.png");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
main #start img {
  width: 30%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main #start svg {
  position: absolute;
  bottom: 0;
  left: 0;
  fill: #fff;
  width: 100%;
}
main .short_info {
  width: 100%;
  min-height: 300px;
  height: auto;
  position: relative;
}
main .short_info .container_info {
  position: absolute;
  left: 50%;
  top: -45%;
  transform: translateX(-50%);
  min-height: 300px;
  height: auto;
  min-width: 280px;
  max-width: 1140px;
  width: 90vw;
  text-align: center;
}
main .short_info .container_info .box_info {
  width: 30%;
  min-width: 250px;
  height: 100%;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 25px;
  transition: 0.3s;
  position: relative;
  text-align: center;
}
main .short_info .container_info .box_info .blank {
  width: 150px;
  height: 150px;
  margin: 20px;
}
main .short_info .container_info .box_info .circle {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
}
main .short_info .container_info .box_info .circle i {
  color: #0091ca;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.3s;
}
main .short_info .container_info .box_info .circle:hover {
  animation: circle_jump 2s linear;
}
main .short_info .container_info .box_info .circle:hover i {
  color: #00e4e4;
}
main .short_info .container_info .box_info h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
}
main .short_info .container_info .box_info p {
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  color: #999;
  margin-bottom: 20px;
}
main .short_info .container_info .box_info:hover {
  transform: translateY(-10%);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
}
main .why_me {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  height: auto;
  text-align: center;
}
main .why_me h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #999;
}
main .why_me h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 48px;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: #000;
}
main .why_me p {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #999;
  font-size: 14px;
  max-width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
main .why_me .container_buttons {
  margin-top: 50px;
  margin-bottom: 50px;
}
main .why_me .container_buttons div button {
  min-width: 150px;
  min-height: 50px;
  font-size: 18px;
  background: linear-gradient(45deg, #0091ca 0%, #00e4e4 100%);
  box-shadow: 0px 8px 44px -15px #00e4e4;
  border: none;
  border-radius: 10px;
  color: #eee;
  transition: 0.3s;
}
main .why_me .container_buttons div button:hover {
  transform: translateY(-10%);
  filter: brightness(0.9);
}
main .container_modern {
  width: 100%;
  height: 500px;
  background-color: #00999d;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  text-align: center;
}
main .container_modern .modern {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main .container_modern .modern h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  color: #fff;
}
main .container_modern .modern p {
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 10px;
}
main .container_modern svg {
  max-width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
main .container_atuty {
  width: 100%;
  padding-top: 50px;
  text-align: center;
}
main .container_atuty .mzal {
  margin-bottom: 100px;
}
main .container_atuty .mzal h1 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  color: #000;
}
main .container_atuty .mzal p {
  padding-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #999;
  letter-spacing: 5px;
  padding-right: 25%;
  padding-left: 25%;
}
main .container_atuty .zalety {
  padding-bottom: 100px;
}
main .container_atuty .zalety .elem {
  width: 25%;
  min-width: 280px;
  height: 200px;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
}
main .container_atuty .zalety .elem .icon {
  height: 200px;
  width: 39%;
  border-right: solid 2px #999;
  border-radius: 50%;
  position: relative;
}
main .container_atuty .zalety .elem .icon object {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #0c6154;
  filter: invert(0.2) sepia(1) hue-rotate(150deg);
}
main .container_atuty .zalety .elem .text {
  height: 100%;
  width: 59%;
  position: relative;
}
main .container_atuty .zalety .elem .text p {
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}
main .praca_z {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
main .praca_z p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #999;
  letter-spacing: 5px;
}
main .praca_z .galeria {
  width: 100%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
main .praca_z .galeria .obrazki img {
  height: 100px;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  filter: grayscale(0.7);
  transition: 0.3s;
}
main .praca_z .galeria .obrazki img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}
main .adsense {
  width: 100%;
  height: auto;
  padding: 50px 0;
  text-align: center;
}
main .kontakt {
  width: 100%;
  height: 250px;
  background-color: cadetblue;
  background: linear-gradient(45deg, #00999d 0%, #00ff97 100%);
  position: relative;
  transition: 0.3s;
}
main .kontakt p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 5px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-10%, -50%);
}
main .kontakt button {
  width: 200px;
  height: 70px;
  font-size: 24px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
  background: none;
  border: solid 3px #fff;
  box-shadow: 0px 10px 20px 10px #00000031;
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translate(20%, -50%);
  transition: 0.3s;
}
main .kontakt button:hover {
  transform: translate(20%, -60%);
}
main .kontakt:hover {
  background: linear-gradient(45deg, #00ff97 0%, #00999d 100%);
  box-shadow: inset 0px 0px 35px 10px #000000bf;
}

@keyframes circle_jump {
  0% {
    transform: translate(-50%, 0%);
  }
  10% {
    transform: translate(-50%, 5%);
  }
  20% {
    transform: translate(-50%, -5%);
  }
  30% {
    transform: translate(-50%, 2%);
  }
  40% {
    transform: translate(-50%, -1%);
  }
  50% {
    transform: translate(-50%, 0%);
  }
  100% {
    transform: translate(-50%, 0%);
  }
}
@keyframes scroll {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/
@media (max-width: 1080px) {
  main #start img {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main #start .scroll_down {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    z-index: 9999;
    width: 40px;
    height: 40px;
  }
  main #start .scroll_down .scroll {
    width: 100%;
    height: 100%;
    filter: invert(1);
    animation: scroll 2s infinite ease-in-out;
  }
  main .short_info {
    width: 100%;
    min-height: 300px;
    height: auto;
    height: auto;
    position: relative;
    margin-bottom: 100px;
  }

  .kontakt p {
    font-size: 26px !important;
    top: 50%;
    left: 15% !important;
    transform: translate(-10%, -50%);
  }
  .kontakt button {
    position: absolute;
    right: 10% !important;
    top: 50%;
    transform: translate(20%, -50%);
  }
}
/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/
@media (max-width: 600px) {
  main #start img {
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  main #start .scroll_down {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 9999;
    width: 40px;
    height: 40px;
  }
  main #start .scroll_down .scroll {
    width: 100%;
    height: 100%;
    filter: invert(1);
    animation: scroll 2s infinite ease-in-out;
  }
  main .short_info {
    width: 100%;
    min-height: 300px;
    height: auto;
    height: auto;
    position: relative;
    margin-bottom: 700px;
  }
  main .short_info .container_info {
    top: -20%;
  }
  main .short_info .container_info .box_info {
    margin-bottom: 20px;
  }
  main .praca_z {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
  }
  main .praca_z .galeria {
    height: auto;
  }
  main .praca_z .galeria .obrazki img {
    height: auto;
    width: 70%;
    height: none;
    filter: grayscale(0.7);
    transition: 0.3s;
  }
  main .praca_z .galeria .obrazki img:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
  main .container_modern .modern h1 {
    font-size: 28px;
  }
  main .container_atuty .zalety .elem {
    width: 95%;
    min-width: 300px;
    height: 150px;
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  main .container_atuty .zalety .elem .icon {
    height: 150px;
    width: 32%;
  }
  main .container_atuty .zalety .elem .icon object {
    height: 70px;
  }
  main .container_atuty .zalety .elem .text {
    height: 150px;
    width: 60%;
    position: relative;
  }
  main .container_atuty .zalety .elem .text p {
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
  }
  main .why_me {
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    height: auto;
    text-align: center;
  }
  main .why_me h1 {
    letter-spacing: 5px;
    font-size: 32px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    color: #000;
  }
  main .why_me p {
    max-width: 90%;
  }
  main .kontakt {
    height: 400px;
  }
  main .kontakt p {
    font-size: 26px !important;
    top: 20% !important;
    left: 20% !important;
    transform: translate(-10%, -50%);
  }
  main .kontakt button {
    position: absolute;
    right: 30% !important;
    bottom: 5% !important;
    transform: translate(20%, -50%);
  }
}
/***************************/
footer {
  width: 100%;
  min-height: 300px;
  background-color: #202020;
}
footer div {
  width: 100%;
  height: 100%;
}
footer div .inl {
  height: 100%;
  max-height: 360px;
  width: 33%;
  min-height: 100px;
  min-width: 300px;
  position: relative;
  vertical-align: top;
}
footer div .inl img {
  width: 30%;
  min-width: 150px;
  padding-top: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
footer div .inl .sm {
  padding-left: 40px;
  position: absolute;
  left: 50%;
  top: 70px;
  height: 200px;
  width: 200px;
  transform: translateX(-50%);
}
footer div .inl .sm i {
  color: white;
  margin-left: 12px !important;
  margin-right: 12px !important;
}
footer div .inl h3 {
  color: #444;
  letter-spacing: 5px;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 50px;
}
footer div .inl .linki {
  padding-bottom: 50px;
}
footer div .inl .linki a {
  color: #999;
}
footer div .inl .linki a p {
  margin-top: 10px;
  margin-left: 50px;
}
footer div .inl .linki a:hover {
  color: #777;
}

.foter {
  width: 100%;
  min-height: 50px;
  background-color: #1d1d1d;
  position: relative;
  text-align: center;
}
.foter span img {
  height: 30px;
  padding-top: 7px;
}
.foter p {
  color: #fff;
  position: relative;
  top: -10px;
}

@media (max-width: 1080px) {
  .foter span img {
    height: 20px;
    padding-top: 15px;
  }
  .foter p {
    color: #fff;
    position: relative;
    top: -5px;
    font-size: 10px;
  }
}
/***************************/