<template>
    <div class="why">
        <div class="text">
            <h3>Dlaczego warto?</h3>
            <h1>Twoje zamówienie może być zrealizowane nawet w 48h!</h1>
            <h2>KAŻDE ZAMÓWIENIE JEST DOPIĘTĘ NA OSTATNI GUZIK. DZIĘKI CZEMU NIE MA MOWY O BŁĘDACH NA STRONIE.</h2>
        </div>
        <div class="button">
            <a href="/contact"><button>NAPISZ TERAZ</button></a>
        </div>
        <div class="box_cyt">
            <div class="cyt">
                <h1>Nowoczesne podejście do zamówienia</h1>
                <div class="mkt">
                    Makoto.
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { gsap } from "gsap";
import { ScrollTrigger } from "gsap/ScrollTrigger";

gsap.registerPlugin(ScrollTrigger);

export default {
  name: 'Dlaczego',
  mounted: function(){
      gsap.from(".text h3", {
          scrollTrigger: {
              trigger: '.text h3',
              start: "bottom bottom",
              toggleActions: "restart none none none",
          },
          opacity: 0,
          duration: 2,
      }),
      gsap.from(".text h1", {
          scrollTrigger: {
              trigger: '.text h1',
              start: "bottom bottom",
              toggleActions: "restart none none none",
          },
          opacity: 0,
          letterSpacing: "0.6vw",
          duration: 2,
      }),
      gsap.from(".text h2", {
          scrollTrigger: {
              trigger: '.text h2',
              start: "bottom bottom",
              toggleActions: "restart none none none",
          },
          opacity: 0,
          y: 50,
          duration: 1.5,
      }),
      gsap.from(".button", {
          scrollTrigger: {
              trigger: '.button',
              start: "bottom bottom",
              toggleActions: "restart none none none",
          },
          opacity: 0,
          scale: 0.4,
          y: 20,
          duration: 1.5,
      }),
      gsap.from(".cyt", {
          scrollTrigger: {
              trigger: '.box_cyt',
              start: "bottom bottom",
              toggleActions: "restart none none none",
          },
          opacity: 0,
          y: 50,
          duration: 1.5,
      })
  }
}
</script>

<style lang="scss" scoped>
    .why{
        background: url('../../assets/bg/bg.png');
        min-height: 100vh;
        width: 100vw;
        margin: 0;
        padding-top: 20px;
    }

    .text{
        width: 100vw;
        height: 40%;
        
        h3{
            font-size: 26px;
            color: #888;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 5px;
        }

        h1{
            text-transform: uppercase;
            font-family: 'Roboto', sans-serif;
            padding-left: 20px;
            padding-right: 20px;
        }

        h2{
            text-transform: uppercase;
            width: 50%;
            font-size: 18px;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            color: #666;
            margin-top: 40px;
            margin-bottom: 40px;
            font-family: 'Roboto', sans-serif;
        }
    }

    .button{
        width: 100vw;

        button{
            padding: 20px 40px;
            font-size: 24px;
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            color: white;
            background:  linear-gradient(to top, #0091ca, #00e4e4);
            border-radius: 20px;
            border: none;
            box-shadow: 0px 10px 40px -4px #00e4e4;
            transition: .3s;

            cursor: pointer;

            &:hover{
                transform: scale(1.05);
            }
        }
    }

    .box_cyt{
        width: 100vw;
        height: auto;
        padding: 50px 0;
        margin: 100px 0;
        position: relative;

        .cyt{
            width: 700px;
            height: 200px;
            border-radius: 20px;
            background:  linear-gradient(-25deg, #0091ca, #00e4e4);
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            box-shadow: 0px 10px 40px -4px #00e4e4;

            h1{
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 36px;
                color: white;
                position: relative;
                top: 35%;
                transform: translateY(-50%);
            }

            .mkt{
                width: 150px;
                padding: 15px 5px;
                background-color: white;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                font-family: 'Roboto', sans-serif;
                letter-spacing: 5px;
                border-radius: 20px;
                box-shadow: 0px 15px 30px -4px #00e4e4;
            }
        }
    }

@media (prefers-color-scheme: dark) {
    .dark{
        .why{
            background-color: #333;
        }

        .text{
            h1{
                color: white;
            }
        }

        .button{

            button{
                padding: 20px 40px;
                font-size: 24px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                color: white;
                background:  linear-gradient(to top, #0091ca, #00e4e4);
                border-radius: 20px;
                border: none;
                box-shadow: 0px 10px 40px -4px #00000085;
                transition: .3s;

                cursor: pointer;

                &:hover{
                    transform: scale(1.05);
                }
            }
        }

        .box_cyt{
            width: 100vw;
            height: auto;
            padding: 50px 0;
            margin: 100px 0;
            position: relative;

            .cyt{
                top: 50px;
                box-shadow: 0px 10px 40px -4px #00000069;

                h1{
                    color: white;
                }

                .mkt{
                    background-color: #191919;
                    color: white;
                    box-shadow: 0px 15px 30px -4px #00000077;
                }
            }
        }
    }
}

@media(max-width: 550px) {
    .text{
        h2{
            text-transform: uppercase;
            width: unset;
            font-size: 18px;
            position: relative;
            left: 0;
            transform: translateX(0%);
            padding: 0 30px;
            margin-top: 40px;
            margin-bottom: 40px;
            font-family: 'Roboto', sans-serif;
        }
    }
    .box_cyt{
        width: 100vw;
        height: auto;
        padding: 50px 0;
        margin: 300px 0;
        position: relative;

        .cyt{
            min-width: 280px;
            width: 80%;
            height: 200px;
            border-radius: 45px;
            position: absolute;
            left: 50%;
            bottom: 20%;
            transform: translateX(-50%);

            h1{
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
                font-weight: 900;
                font-size: 36px;
                position: relative;
                top: 35%;
                transform: translateY(-50%);
            }

            .mkt{
                width: 150px;
                padding: 15px 5px;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%, 50%);
                font-family: 'Roboto', sans-serif;
                letter-spacing: 5px;
                border-radius: 20px;
            }
        }
    }
}
</style>