main {
    width: 100%;
    height: auto;

    #start {
        width: 100%;
        height: 60vh;
        background-color: #00725f;
        background-image: url('../img/bryly.png');
        background-size: cover;
        background-attachment: fixed;

        position: relative;

        img {
            width: 30%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        h3{
            position: absolute;
            left: 50%;
            top: 60%;
            transform: translateX(-50%);
            text-transform: uppercase;
            letter-spacing: 5px;
            color: #eee;
        }

        svg {
            position: absolute;
            bottom: 0;
            left: 0;
            fill: #fff;
            width: 100%;
        }
    }

    .next {
        padding-top: 100px;
        padding-bottom: 100px;

        text-align: center;

        div{

            .filtr{

                p{
                font-size: 24px;
                color: #666;
                }
            }

            
            .buttons{
                width: 90%;
                height: auto;
                margin-left: auto;
                margin-right: auto;

                button{
                    width: 150px;
                    height: 50px;
                    margin: 10px;
                    border: none;
                    border-radius: 20px;
                    background-color: $dark-blue;
                    color: #fff;
                    font-size: 20px;
                    cursor: pointer;

                    transition: .3s;
                }
                button:hover{
                    filter: brightness(.9);
                    transform: scale(.9);
                }
            }

            .gallery{
                width: 80%;
                height: auto;
                padding-top: 50px;
                padding-bottom: 50px;
                margin-left: auto;
                margin-right: auto;

                .obraz {
                    width: 266px;
                    height: 150px;
                    padding: 5px;
                    overflow: hidden;
                    border-radius: 10px;
                    opacity: 1;
                    animation: wejscie ease-in .3s ;
                    position: relative;

                    img{
                        height: 100%;
                        transition: .3s;
                        border-radius: 15px;
                        opacity: 1;
                    }
                }

                .obraz:hover img{
                    transform: scale(1.2);
                }
            }
        }
    }

}

.adsense{
    width: 100%;
    height: auto;
    padding: 50px 0;
    text-align: center;
}

.hidden{
    display: none;
}

.zoom_obraz{
    max-width: 80vw !important;
    width: auto !important;
    height: auto !important;
    max-height: 80vh !important;
    padding: 0 !important;
    margin: 0 !important;
    position: fixed !important;
    z-index: 10000001 !important;
    left: 50% !important;
    top: 55% !important;
    transform: translate(-50%, -50%) !important;
}

.zoom_img {
    width: 100%;
    height: auto;
}

.bg_for_img{
    display: none;
}
.bg_for_img_active{
    display: block;
    position: fixed;
    z-index: 10000000;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000033;
}

@keyframes wejscie {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes scroll {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(-50%);
    }
    100%{
        transform: translateY(0%);
    }
}

/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/

@media (max-width:1080px ){
    main{
        #start {
            img {
                width: 80%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .scroll_down{
                position: absolute;
                left: 50%;
                bottom: 20px;
                transform: translateX(-50%);
                z-index: 9999;

                width: 40px;
                height: 40px;

                .scroll{
                    width: 100%;
                    height: 100%;
                    filter: invert(1);
                    animation: scroll 2s infinite ease-in-out;
                }
            }
        }

    }

    .zoom_obraz{
        max-width: 90vw !important;
    }
}



/******************************************************************************************************/
/******************************************************************************************************/
/******************************************************************************************************/

@media (max-width:600px ){
    main{
        #start {
            img {
                width: 80%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .scroll_down{
                position: absolute;
                left: 50%;
                bottom: 20px;
                transform: translateX(-50%);
                z-index: 9999;

                width: 40px;
                height: 40px;

                .scroll{
                    width: 100%;
                    height: 100%;
                    filter: invert(1);
                    animation: scroll 2s infinite ease-in-out;
                }
            }
        }

        .next {
    
            div{
                
                .buttons{
                    width: 95%;
                    height: auto;
                    margin-left: auto;
                    margin-right: auto;
    
                    button{
                        width: 120px;
                        height: 50px;
                        margin: 7px;
                        border: none;
                        border-radius: 20px;
                        background-color: $dark-blue;
                        color: #fff;
                        font-size: 20px;
    
                        transition: .3s;
                    }
                }
            }
        }
    }

    .zoom_obraz{
        width: 95vw !important;
    }
}